<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-image: url(../../public/img/gambar-20241210\ 083103.png);
            background-attachment: fixed;
        }
    </style>
</head>
<body>
    <div style="margin: 0px;height: 200px;background-color: white;">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia illo dolor facere ipsa dignissimos ab necessitatibus quos quaerat fuga, voluptates aliquam reprehenderit laboriosam tenetur! Qui porro quasi quaerat tenetur magni minima. Eius, sunt temporibus dicta suscipit tenetur et, a deleniti possimus eligendi corporis consectetur, culpa illo quidem ipsam fugit? Aut, cupiditate assumenda. Eius tempora dignissimos consequuntur, sint repellat laboriosam? Quo doloribus eligendi quas corrupti autem enim nulla eveniet quae, laborum porro similique earum sapiente repudiandae nemo, sint reiciendis quis quia ipsa neque maiores, totam voluptate repellat. Ipsum tenetur placeat autem tempora enim, velit possimus ex aut a, commodi corrupti doloribus!</p>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div style="height: 500px;background-color: white;">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia illo dolor facere ipsa dignissimos ab necessitatibus quos quaerat fuga, voluptates aliquam reprehenderit laboriosam tenetur! Qui porro quasi quaerat tenetur magni minima. Eius, sunt temporibus dicta suscipit tenetur et, a deleniti possimus eligendi corporis consectetur, culpa illo quidem ipsam fugit? Aut, cupiditate assumenda. Eius tempora dignissimos consequuntur, sint repellat laboriosam? Quo doloribus eligendi quas corrupti autem enim nulla eveniet quae, laborum porro similique earum sapiente repudiandae nemo, sint reiciendis quis quia ipsa neque maiores, totam voluptate repellat. Ipsum tenetur placeat autem tempora enim, velit possimus ex aut a, commodi corrupti doloribus!</p>
    </div>
</body>
</html>
